.DS_Store
DisasterDataToCSV/pdfs
DisasterDataToCSV/csv_output
AddingDSDivisionsToCSV/anuradhapura_sl_paddy.csv
AddingDSDivisionsToCSV/points_with_ds.csv
AddingDSDivisionsToCSV/DSdevisions.geojson
AddingDisasters/csv_output
AddingDisasters/CleaningDisasterCSV/output_disaster_reports.csv
AddingDisasters/CleaningDisasterCSV/clean_disaster_dataset.csv
AddingDisasters/CleaningSatDataCSV/anuradhapura_sl_paddy.csv
AddingDisasters/MergingData/sorted_anuradhapura_sl_paddy.csv
AddingDisasters/MergingData/paddy_with_disasters.csv
AddingDisasters/MergingData/clean_disaster_dataset.csv
AddingDisasters/CleaningSatDataCSV/sorted_anuradhapura_sl_paddy.csv
AddingDisasters/CleaningSatDataCSV/points_with_ds.csv
AddingDisasters/CleaningSatDataCSV/Ampara_points_with_ds.csv
AddingDisasters/CleaningSatDataCSV/sorted_Ampara_sl_paddy.csv
AddingDisasters/MergingData/Ampara_paddy_with_disasters.csv
AddingDisasters/MergingData/sorted_Ampara_sl_paddy.csv
AddingDSDivisionsToCSV/Ampara_points_with_ds.csv
AddingDSDivisionsToCSV/ampara_sl_paddy.csv
AddingDSDivisionsToCSV/.venv
SatDataOneForAllDsDisaster/Done
SatDataOneForAllDsDisaster/ToBeAdded
AddingDSDivisionsToCSV/badulla_sl_paddy.csv
AddingDSDivisionsToCSV/badulla_points_with_ds.csv
FixCSV/Ampara_2022/Anuradhapura_2025_Dec_p1.csv
FixCSV/Ampara_2022/DB_Anuradhapura_2025_M1299.csv