Back-End/ricevision-pipeline/credentials
/Users/rakinduniwunhella/Desktop/IIT Study Meterias/SDGP/GITHUB/Back-End/ricevision-pipeline/credentials
Back-End/ricevision-pipeline/data/final
Back-End/ricevision-pipeline/.venv
Back-End/ricevision-pipeline/preprocessing/.venv