* text=auto

*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf
Makefile text eol=lf

*.ps1 text eol=crlf

*.ipynb linguist-vendored linguist-generated

*.keras binary
*.h5 binary
*.pkl binary
*.joblib binary
*.png binary
*.jpg binary
*.jpeg binary
